.step1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__gabL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1023px) {
  .freeBox__gabL {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.freeBox___4PBf {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 625px;
  z-index: 0;
  min-width: 0;
  padding: 0px;
}
.text {
  animation: none;
  display: block;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff1f;
  width: 625px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  flex-shrink: 0;
}
.spanothers__1st__vpSvk4Vr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__2nd__vpSUOgQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__3rd__vpSqQDkv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__4th__vpSP5Wvu {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th__vpSXle1A {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__vpSSoli7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__vpSuxBop {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__vpS5JeeG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__vpSQkHvN {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__vpSsnaCb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__vpSrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__vpSmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__vpSNv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__vpSPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__vpSDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__vpSql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__vpSmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__vpSvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__vpS0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__vpSlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__vpSLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__vpStMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__vpSnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__vpS3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__vpSJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__vpSYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__vpSHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__vpSoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__vpSth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__2nd__hh5MzUOgQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__3rd__hh5MzqQDkv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__4th__hh5MzP5Wvu {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th__hh5MzXle1A {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__hh5MzSoli7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__hh5MzuxBop {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__hh5Mz5JeeG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__hh5MzQkHvN {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__hh5MzsnaCb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__hh5MzrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__hh5MzmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__hh5MzNv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__hh5MzPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__hh5MzDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__hh5Mzql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__hh5MzmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__hh5MzvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__hh5Mz0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__hh5MzlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__hh5MzLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__hh5MztMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__hh5MznGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__hh5Mz3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__hh5MzJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__hh5MzYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__hh5MzHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__hh5MzoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__hh5Mzth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__3rd__lr9GvqQDkv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__4th__lr9GvP5Wvu {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th__lr9GvXle1A {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__lr9GvSoli7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__lr9GvuxBop {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__lr9Gv5JeeG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__lr9GvQkHvN {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__lr9GvsnaCb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__lr9GvrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__lr9GvmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__lr9GvNv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__lr9GvPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__lr9GvDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__lr9Gvql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__lr9GvmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__lr9GvvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__lr9Gv0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__lr9GvlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__lr9GvLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__lr9GvtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__lr9GvnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__lr9Gv3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__lr9GvJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__lr9GvYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__lr9GvHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__lr9GvoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__lr9Gvth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__4th__tvEPsP5Wvu {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th__tvEPsXle1A {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__tvEPsSoli7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__tvEPsuxBop {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__tvEPs5JeeG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__tvEPsQkHvN {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__tvEPssnaCb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__tvEPsrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__tvEPsmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__tvEPsNv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__tvEPsPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__tvEPsDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__tvEPsql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__tvEPsmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__tvEPsvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__tvEPs0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__tvEPslcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__tvEPsLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__tvEPstMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__tvEPsnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__tvEPs3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__tvEPsJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__tvEPsYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__tvEPsHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__tvEPsoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__tvEPsth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th__nY0VXle1A {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__nY0VSoli7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__nY0VuxBop {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__nY0V5JeeG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__nY0VQkHvN {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__nY0VsnaCb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__nY0VrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__nY0VmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__nY0VNv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__nY0VPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__nY0VDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__nY0Vql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__nY0VmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__nY0VvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__nY0V0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__nY0VlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__nY0VLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__nY0VtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__nY0VnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__nY0V3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__nY0VJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__nY0VYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__nY0VHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__nY0VoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__nY0Vth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__raBiDSoli7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__raBiDuxBop {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__raBiD5JeeG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__raBiDQkHvN {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__raBiDsnaCb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__raBiDrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__raBiDmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__raBiDnv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__raBiDpMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__raBiDDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__raBiDql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__raBiDmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__raBiDvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__raBiD0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__raBiDlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__raBiDLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__raBiDtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__raBiDnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__raBiD3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__raBiDjPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__raBiDYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__raBiDhcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__raBiDoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__raBiDth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__oMk2ZuxBop {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__oMk2Z5JeeG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__oMk2ZQkHvN {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__oMk2ZsnaCb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__oMk2ZrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__oMk2ZmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__oMk2Znv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__oMk2ZpMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__oMk2ZDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__oMk2Zql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__oMk2ZmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__oMk2ZvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__oMk2Z0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__oMk2ZlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__oMk2ZLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__oMk2ZtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__oMk2ZnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__oMk2Z3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__oMk2ZjPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__oMk2ZYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__oMk2ZhcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__oMk2ZoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__oMk2Zth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__owC8TQkHvN {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__owC8TsnaCb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__owC8TrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__owC8TmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__owC8TNv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__owC8TPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__owC8TDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__owC8Tql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__owC8TmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__owC8TvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__owC8T0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__owC8TlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__owC8TLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__owC8TtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__owC8TnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__owC8T3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__owC8TJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__owC8TYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__owC8THcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__owC8ToZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__owC8Tth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th___9StqhsnaCb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th___9StqhrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th___9StqhmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th___9StqhNv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th___9StqhPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th___9StqhDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th___9Stqhql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th___9StqhmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th___9StqhvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th___9Stqh0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th___9StqhlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th___9StqhLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd___9StqhtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd___9StqhnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th___9Stqh3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th___9StqhJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th___9StqhYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th___9StqhHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th___9StqhoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th___9Stqhth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__pibZdrCfRy {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__pibZdmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__pibZdNv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__pibZdPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__pibZdDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__pibZdql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__pibZdmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__pibZdvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__pibZd0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__pibZdlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__pibZdLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__pibZdtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__pibZdnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__pibZd3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__pibZdJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__pibZdYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__pibZdHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__pibZdoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__pibZdth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__jtFonmmOu5 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__jtFonNv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__jtFonPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__jtFonDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__jtFonql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__jtFonmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__jtFonvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__jtFon0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__jtFonlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__jtFonLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__jtFontMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__jtFonnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__jtFon3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__jtFonJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__jtFonYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__jtFonHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__jtFonoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__jtFonth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__mUsNenv475 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__mUsNepMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__mUsNeDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__mUsNEql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__mUsNEmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__mUsNEvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__mUsNe0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__mUsNElcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__mUsNeLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__mUsNEtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__mUsNEnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__mUsNe3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__mUsNejPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__mUsNeYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__mUsNehcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__mUsNEoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__mUsNEth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__cvl8OPMcuP {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__cvl8ODxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__cvl8Oql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__cvl8OmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__cvl8OvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__cvl8O0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__cvl8OlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__cvl8OLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__cvl8OtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__cvl8OnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__cvl8O3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__cvl8OJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__cvl8OYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__cvl8OHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__cvl8OoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__cvl8Oth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__scJYDxa9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__scJYql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__scJYmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__scJYvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__scJY0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__scJYlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__scJYLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__scJYtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__scJYnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__scJY3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__scJYjPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__scJYYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__scJYhcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__scJYoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__scJYth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th___1NZtLql0Ha {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th___1NZtLmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th___1NZtLvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th___1NZtL0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th___1NZtLlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th___1NZtLLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd___1NZtLtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd___1NZtLnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th___1NZtL3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th___1NZtLjPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th___1NZtLYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th___1NZtLhcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th___1NZtLoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th___1NZtLth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__qxchkmHKsV {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__qxchkvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__qxchk0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__qxchklcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__qxchkLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__qxchktMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__qxchknGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__qxchk3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__qxchkJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__qxchkYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__qxchkHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__qxchkoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__qxchkth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__rdIlTvuZgt {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__rdIlT0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__rdIlTlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__rdIlTLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__rdIlTtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__rdIlTnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__rdIlT3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__rdIlTjPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__rdIlTYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__rdIlThcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__rdIlToZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__rdIlTth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__kQDud0HQYv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__kQDudlcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__kQDudLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__kQDudtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__kQDudnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__kQDud3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__kQDudJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__kQDudYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__kQDudHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__kQDudoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__kQDudth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__hWn45LcjcJ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__hWn45La38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__hWn45TMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__hWn45NGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__hWn453RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__hWn45JPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__hWn45YsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__hWn45HcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__hWn45OZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__hWn45Th8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__myMjHLa38I {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__myMjHtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__myMjHnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__myMjH3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__myMjHjPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__myMjHYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__myMjHhcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__myMjHoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__myMjHth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__vt1SQtMCl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__vt1SQnGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__vt1SQ3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__vt1SQjPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__vt1SQYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__vt1SQhcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__vt1SQoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__vt1SQth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__bsBb1NGItb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__bsBb13RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__bsBb1JPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__bsBb1YsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__bsBb1HcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__bsBb1OZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__bsBb1Th8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__vhzq3RNxG {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__vhzqJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__vhzqYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__vhzqHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__vhzqoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__vhzqth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__pkkivJPgPo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__pkkivYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__pkkivHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__pkkivoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__pkkivth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__uwpDpYsaEk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__uwpDpHcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__uwpDpoZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__uwpDpth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__fdHm6HcRi8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__fdHm6OZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__fdHm6Th8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__r93P9OZGy9 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__r93P9Th8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__uwHaEth8Kk {
  color: var(--token-SVn4fpOEQb4i);
}
