.step1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__qwyoA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1023px) {
  .freeBox__qwyoA {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 620px) {
  .freeBox__qwyoA {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.freeBox__q35Iu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 625px;
  z-index: 0;
  min-width: 0;
  padding: 0px;
}
.text {
  animation: none;
  display: block;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff99;
  width: 100%;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.spanothers__1st__khXqhCwNbp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__2nd__khXqhA30B8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__3rd__khXqhbZ1Ml {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__4th__khXqh1QXa {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th__khXqhLyEoo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__khXqhldZix {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__khXqhRgiXe {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__khXqhF063 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__khXqhWoouK {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__khXqhNoGn {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__khXqhJbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__khXqhwK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__khXqhYpGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__khXqhV5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__khXqhxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__khXqh1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__khXqhGo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__khXqhUUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__khXqhaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__khXqhPk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__khXqhnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__khXqhVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__khXqhkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__khXqhDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__khXqhqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__khXqhDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__khXqhKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__khXqhUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__khXqh6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__2nd__v7XscA30B8 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__3rd__v7XscbZ1Ml {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__4th__v7Xsc1QXa {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th__v7XscLyEoo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__v7XscldZix {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__v7XscRgiXe {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__v7XscF063 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__v7XscWoouK {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__v7XscNoGn {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__v7XscJbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__v7XscwK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__v7XscYpGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__v7XscV5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__v7Xscxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__v7Xsc1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__v7XscGo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__v7XscUUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__v7XscaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__v7XscPk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__v7XscnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__v7XscVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__v7XsckERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__v7XscDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__v7XscqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__v7XscDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__v7XscKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__v7XscUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__v7Xsc6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__3rd__whcHzbZ1Ml {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__4th__whcHz1QXa {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th__whcHzLyEoo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__whcHzldZix {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__whcHzRgiXe {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__whcHzF063 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__whcHzWoouK {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__whcHzNoGn {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__whcHzJbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__whcHzwK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__whcHzYpGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__whcHzV5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__whcHzxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__whcHz1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__whcHzGo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__whcHzUUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__whcHzaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__whcHzPk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__whcHznTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__whcHzVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__whcHzkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__whcHzDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__whcHzqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__whcHzDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__whcHzKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__whcHzUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__whcHz6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__4th__m5Vhy1QXa {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th__m5VhyLyEoo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__m5VhyldZix {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__m5VhyRgiXe {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__m5VhyF063 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__m5VhyWoouK {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__m5VhyNoGn {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__m5VhyJbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__m5VhywK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__m5VhyYpGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__m5VhyV5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__m5Vhyxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__m5Vhy1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__m5VhyGo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__m5VhyUUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__m5VhyaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__m5VhyPk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__m5VhynTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__m5VhyVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__m5VhykERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__m5VhyDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__m5VhyqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__m5VhyDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__m5VhyKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__m5VhyUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__m5Vhy6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__5th___4Kno3LyEoo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th___4Kno3LdZix {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th___4Kno3RgiXe {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th___4Kno3F063 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th___4Kno3WoouK {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th___4Kno3NoGn {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th___4Kno3JbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th___4Kno3WK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th___4Kno3YpGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th___4Kno3V5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th___4Kno3Xt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th___4Kno31T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th___4Kno3Go6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th___4Kno3UUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th___4Kno3AT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th___4Kno3Pk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th___4Kno3NTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd___4Kno3Vr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd___4Kno3KERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th___4Kno3DiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th___4Kno3QAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th___4Kno3DwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th___4Kno3Kd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th___4Kno3Uwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th___4Kno36L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__6th__dyj3LdZix {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__dyj3RgiXe {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__dyj3F063 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__dyj3WoouK {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__dyj3NoGn {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__dyj3JbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__dyj3WK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__dyj3YpGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__dyj3V5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__dyj3Xt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__dyj31T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__dyj3Go6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__dyj3UUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__dyj3AT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__dyj3Pk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__dyj3NTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__dyj3Vr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__dyj3KERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__dyj3DiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__dyj3QAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__dyj3DwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__dyj3Kd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__dyj3Uwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__dyj36L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__7th__mdoRyRgiXe {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__8th__mdoRyF063 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th__mdoRyWoouK {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__mdoRyNoGn {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__mdoRyJbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__mdoRywK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__mdoRyYpGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__mdoRyV5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__mdoRyxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__mdoRy1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__mdoRyGo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__mdoRyUUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__mdoRyaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__mdoRyPk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__mdoRynTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__mdoRyVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__mdoRykERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__mdoRyDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__mdoRyqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__mdoRyDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__mdoRyKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__mdoRyUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__mdoRy6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__9th___8FfxhWoouK {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th___8FfxhNoGn {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th___8FfxhJbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th___8FfxhwK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th___8FfxhYpGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th___8FfxhV5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th___8Ffxhxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th___8Ffxh1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th___8FfxhGo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th___8FfxhUUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th___8FfxhaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th___8FfxhPk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th___8FfxhnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd___8FfxhVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd___8FfxhkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th___8FfxhDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th___8FfxhqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th___8FfxhDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th___8FfxhKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th___8FfxhUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th___8Ffxh6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__10th__yiogUNoGn {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__yiogUJbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__yiogUwK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__yiogUypGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__yiogUv5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__yiogUxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__yiogU1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__yiogUgo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__yiogUuUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__yiogUaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__yiogUpk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__yiogUnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__yiogUVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__yiogUkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__yiogUdiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__yiogUqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__yiogUDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__yiogUKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__yiogUuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__yiogU6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__11Th__zIlgyJbcHl {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__zIlgYwK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__zIlgyypGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__zIlgyv5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__zIlgYxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__zIlgy1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__zIlgygo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__zIlgyuUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__zIlgYaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__zIlgypk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__zIlgYnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__zIlgyVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__zIlgYkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__zIlgydiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__zIlgYqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__zIlgyDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__zIlgyKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__zIlgyuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__zIlgy6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__12Th__gpyTLwK0CX {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__gpyTlypGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__gpyTlv5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__gpyTLxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__gpyTl1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__gpyTlgo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__gpyTluUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__gpyTLaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__gpyTlpk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__gpyTLnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__gpyTlVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__gpyTLkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__gpyTldiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__gpyTLqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__gpyTlDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__gpyTlKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__gpyTluwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__gpyTl6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__13Th__tnsXaypGp {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__tnsXav5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__tnsXAxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__tnsXa1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__tnsXago6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__tnsXauUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__tnsXAaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__tnsXapk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__tnsXAnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__tnsXaVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__tnsXAkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__tnsXadiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__tnsXAqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__tnsXaDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__tnsXaKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__tnsXauwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__tnsXa6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__14th__ynvWpv5Jbb {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__ynvWPxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__ynvWp1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__ynvWpgo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__ynvWpuUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__ynvWPaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__ynvWppk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__ynvWPnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__ynvWpVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__ynvWPkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__ynvWpdiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__ynvWPqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__ynvWpDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__ynvWpKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__ynvWpuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__ynvWp6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__15th__w9AVoxt4Cr {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__w9AVo1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__w9AVoGo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__w9AVoUUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__w9AVoaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__w9AVoPk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__w9AVonTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__w9AVoVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__w9AVokERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__w9AVoDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__w9AVoqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__w9AVoDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__w9AVoKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__w9AVoUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__w9AVo6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__16th__oUqiB1T8PC {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__oUqiBgo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__oUqiBuUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__oUqiBaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__oUqiBpk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__oUqiBnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__oUqiBVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__oUqiBkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__oUqiBdiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__oUqiBqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__oUqiBDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__oUqiBKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__oUqiBuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__oUqiB6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__17th__iresXgo6Vj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__iresXuUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__iresXaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__iresXpk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__iresXnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__iresXVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__iresXkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__iresXdiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__iresXqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__iresXDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__iresXKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__iresXuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__iresX6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__18th__g13YgUUps3 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__g13YgaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__g13YgPk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__g13YgnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__g13YgVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__g13YgkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__g13YgDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__g13YgqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__g13YgDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__g13YgKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__g13YgUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__g13Yg6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__19th__oXzsjaT3SE {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th__oXzsjPk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__oXzsjnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__oXzsjVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__oXzsjkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__oXzsjDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__oXzsjqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__oXzsjDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__oXzsjKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__oXzsjUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__oXzsj6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__20th___0N7WJpk75G {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th___0N7WJnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd___0N7WJVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd___0N7WJkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th___0N7WJdiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th___0N7WJqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th___0N7WJDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th___0N7WJKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th___0N7WJuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th___0N7WJ6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__21Th__v0RoNnTe7 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__v0RoNVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__v0RoNkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__v0RoNdiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__v0RoNqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__v0RoNDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__v0RoNKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__v0RoNuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__v0RoN6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__22nd__bmOfRVr5Oj {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__bmOfRkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__bmOfRdiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__bmOfRqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__bmOfRDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__bmOfRKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__bmOfRuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__bmOfR6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__23rd__q6OrbkERga {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__q6OrbDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__q6OrbqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__q6OrbDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__q6OrbKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__q6OrbUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__q6Orb6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__24th__jxyKnDiqQ {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__jxyKnqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__jxyKnDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__jxyKnKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__jxyKnUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__jxyKn6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__25th__ts1XWqAkAo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__ts1XwDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__ts1XwKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__ts1Xwuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__ts1Xw6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__26th__n51RsDwGlY {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__n51RsKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__n51Rsuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__n51Rs6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__27th__raKsNKd1Q1 {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__raKsNuwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__raKsN6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__28th__zbmQiUwmgv {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th__zbmQi6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
.spanothers__29th___9Yond6L5Lo {
  color: var(--token-SVn4fpOEQb4i);
}
