.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  position: relative;
  min-width: 0;
  padding: 50px 50px 0px;
}
.freeBox___05Xnu {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.group1321315481 {
  animation: none;
  transform: translate(0.001220703125px, 0px);
  width: 500px;
  height: 500px;
  display: block;
  flex-shrink: 0;
}
.group1321315480 {
  animation: none;
  transform: scale(1.0000000101778412, 1.0000000101778412)
    rotate(10.326304859810062deg) translate(-0.1111602783203125px, 0px);
  width: 379px;
  height: 417px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 202px;
}
.group1321315433 {
  animation: none;
  transform: translate(0px, -1.8189894035458565e-12px);
  width: 379px;
  height: 417px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle271 {
  animation: none;
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 1);
  transform: translate(0px, -1.8189894035458565e-12px);
  width: 379px;
  height: 417px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 29.648502349853516px;
}
.bluePoolCapital {
  animation: none;
  position: absolute;
  top: 45.08%;
  left: 22.42%;
  width: 55.4%;
  height: 14.38%;
  transform: translate(0px, -1.8189894035458565e-12px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rVxeC {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(21, 40, 115, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.asLeadInvestorInThe80MSeriesFOfGyg {
  animation: none;
  position: absolute;
  top: 59.71%;
  left: 11.34%;
  width: 83.9%;
  height: 15.1%;
  transform: translate(0px, 0.286132812498181px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hQjj4 {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 26px;
  color: rgba(24, 24, 24, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.image5 {
  animation: none;
  background: url("/plasmic/evangelisti_dev_1/images/image5.png") center center / cover no-repeat;
  transform: translate(0px, -1.8189894035458565e-12px);
  width: 114px;
  height: 147px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 42px;
  left: 133px;
}
.group1321315479 {
  animation: none;
  transform: scale(1.0000000247752145, 1.0000000247752145)
    rotate(7.549081169399486deg)
    translate(0.33049774169921875px, 0.3818359375px);
  width: 379px;
  height: 417px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 4px;
  left: 105px;
}
.group1321315458 {
  animation: none;
  width: 379px;
  height: 417px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle272 {
  animation: none;
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 1);
  width: 379px;
  height: 417px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 29.648502349853516px;
}
.marinaCapital {
  animation: none;
  position: absolute;
  top: 45.32%;
  left: 22.42%;
  width: 55.4%;
  height: 14.38%;
  transform: translate(0px, 0.021484375px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jEZm1 {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(21, 40, 115, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.onItsBespokeFoundingInvestmentInRokkstaGermanMiningTech {
  animation: none;
  position: absolute;
  top: 62.82%;
  left: 7.38%;
  width: 83.9%;
  height: 16.78%;
  transform: translate(0px, -0.456542968751819px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jQpZ {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 26px;
  color: rgba(55, 65, 81, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.image9 {
  animation: none;
  background: url("/plasmic/evangelisti_dev_1/images/image11.png") 0px -290px / 417px 439px no-repeat;
  transform: translate(0px, -1.8189894035458565e-12px);
  width: 281px;
  height: 58px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 100px;
  left: 49px;
  border-radius: 9.659746170043945px;
}
.group1321315478 {
  animation: none;
  transform: scale(0.999999973803856, 0.999999973803856)
    rotate(2.532079918402364deg) translate(0.42223167419433594px, 0.419921875px);
  width: 379px;
  height: 417px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 36px;
  left: 18px;
}
.group1321315457 {
  animation: none;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 1.8189894035458565e-12px);
  width: 379px;
  height: 417px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle273 {
  animation: none;
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 1);
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 1.8189894035458565e-12px);
  width: 379px;
  height: 417px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 29.648502349853516px;
}
.jetpackStudio {
  animation: none;
  position: absolute;
  top: 45.08%;
  left: 23.74%;
  width: 55.4%;
  height: 14.38%;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 1.8189894035458565e-12px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nd449 {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(21, 40, 115, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.gmbHInConnectionWithMultipleInvestmentsSuchAsMerlinDigitalSolutionsRoomsTechnologiesGloryaNobsNutrition {
  animation: none;
  position: absolute;
  top: 62.82%;
  left: 9.23%;
  width: 83.9%;
  height: 28.29%;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(0px, -0.456542968748181px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rsC0W {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 26px;
  color: rgba(55, 65, 81, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.group1321315459 {
  animation: none;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 0px);
  width: 192px;
  height: 78px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 76px;
  left: 99px;
}
.rectangle217 {
  animation: none;
  background: rgba(0, 0, 0, 1);
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 0px);
  width: 192px;
  height: 78px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 7px;
}
.image22 {
  animation: none;
  background: url("/plasmic/evangelisti_dev_1/images/image22.png") center center / cover no-repeat;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 1.8189894035458565e-12px);
  width: 183px;
  height: 67px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 9.65751838684082px;
}
.freeBox__cEJu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
._1St2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 379px;
  height: 417px;
  box-shadow: 0px 0px 0px 1px #d9d9d9;
  row-gap: 24px;
  background: #ffffff;
  z-index: 3;
  transform: rotate3d(0, 0, 1, 3deg) translate3d(85%, 0px, 0px);
  transition-property: all;
  transition-duration: 0.4s;
  cursor: pointer;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  border-radius: 29.6px;
  padding: 20px 20px 28px;
}
._1St2others__1st {
  transform: rotate3d(0, 0, 1, 0deg) translate3d(85%, 0px, 0px);
}
._1St2others__2nd {
  transform: rotate3d(0, 0, 1, -6deg) translate3d(15%, 0px, 0px);
}
._1St2others__3rd {
  transform: rotate3d(0, 0, 1, 6deg) translate3d(160%, -18%, 0px);
  z-index: 2;
}
._1St2open {
  transform: rotate3d(0, 0, 1, 0deg) translate3d(85%, 0px, 0px);
}
.freeBox__jcPla {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 192px;
  height: 78px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  background: #000000;
  flex-shrink: 0;
  border-radius: 7px;
  padding: 8px;
  margin: 12px;
}
.image24 {
  animation: none;
  background: url("/plasmic/evangelisti_dev_1/images/image22.png") center center / cover no-repeat;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 1.8189894035458565e-12px);
  width: 183px;
  height: 67px;
  display: block;
  transform-origin: top left;
  flex-shrink: 0;
  border-radius: 9.65751838684082px;
}
.jetpackStudio5 {
  animation: none;
  position: relative;
  top: auto;
  left: auto;
  width: 55.4%;
  height: 14.38%;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 1.8189894035458565e-12px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__kf9Hr {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(21, 40, 115, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.gmbHInConnectionWithMultipleInvestmentsSuchAsMerlinDigitalSolutionsRoomsTechnologiesGloryaNobsNutrition5 {
  animation: none;
  position: relative;
  top: auto;
  left: auto;
  width: 83.9%;
  height: auto;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(0px, -0.456542968748181px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___1L2Hv {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 26px;
  color: rgba(55, 65, 81, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
._2Nd2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 379px;
  height: 417px;
  box-shadow: 0px 0px 0px 1px #d9d9d9;
  row-gap: 24px;
  background: #ffffff;
  z-index: 2;
  transform: rotate3d(0, 0, 1, 6deg) translate3d(0px, 0px, 0px);
  transition-property: all;
  transition-duration: 0.4s;
  cursor: pointer;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  border-radius: 29.6px;
  padding: 20px 20px 28px;
}
._2Nd2others__1st {
  transform: rotate3d(0, 0, 1, -6deg) translate3d(-85%, -10%, 0px);
}
._2Nd2others__2nd {
  transform: rotate3d(0, 0, 1, 6deg) translate3d(60%, -10%, 0px);
}
._2Nd2others__3rd {
  transform: rotate3d(0, 0, 1, 0deg) translate3d(0%, 0%, 0px);
  z-index: 3;
}
._2Nd2open {
  transform: rotate3d(0, 0, 1, -6deg) translate3d(-85%, -10%, 0px);
}
.image11 {
  animation: none;
  background: url("/plasmic/evangelisti_dev_1/images/image11.png") 0px -290px / 417px 439px no-repeat;
  transform: translate(0px, -1.8189894035458565e-12px);
  width: 281px;
  height: 58px;
  display: block;
  transform-origin: top left;
  position: relative;
  top: auto;
  left: auto;
  margin-bottom: 24px;
  flex-shrink: 0;
  border-radius: 9.659746170043945px;
}
.jetpackStudio6 {
  animation: none;
  position: relative;
  top: auto;
  left: auto;
  width: 55.4%;
  height: 14.38%;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 1.8189894035458565e-12px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nWtzx {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(21, 40, 115, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.gmbHInConnectionWithMultipleInvestmentsSuchAsMerlinDigitalSolutionsRoomsTechnologiesGloryaNobsNutrition6 {
  animation: none;
  position: relative;
  top: auto;
  left: auto;
  width: 83.9%;
  height: auto;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(0px, -0.456542968748181px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wg9OA {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 26px;
  color: rgba(55, 65, 81, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
._3Rd2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 379px;
  height: 417px;
  box-shadow: 0px 0px 0px 1px #d9d9d9;
  row-gap: 24px;
  background: #ffffff;
  transform: rotate3d(0, 0, 1, 6deg) translate3d(-85%, 10px, 0px);
  transition-property: all;
  transition-duration: 0.4s;
  cursor: pointer;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  border-radius: 29.6px;
  padding: 20px 20px 28px;
}
._3Rd2others__1st {
  transform: rotate3d(0, 0, 1, 6deg) translate3d(-40%, 10px, 0px);
}
._3Rd2others__2nd {
  transform: rotate3d(0, 0, 1, 0deg) translate3d(-110%, -20px, 0px);
  z-index: 3;
}
._3Rd2others__3rd {
  transform: rotate3d(0, 0, 1, -6deg) translate3d(-180%, -20%, 0px);
  z-index: 1;
}
._3Rd2open {
  transform: rotate3d(0, 0, 1, 6deg) translate3d(-40%, 10px, 0px);
}
.image7 {
  animation: none;
  background: url("/plasmic/evangelisti_dev_1/images/image5.png") center center / cover no-repeat;
  transform: translate(0px, -1.8189894035458565e-12px);
  width: 114px;
  height: 147px;
  display: block;
  transform-origin: top left;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.jetpackStudio7 {
  animation: none;
  position: relative;
  top: auto;
  left: auto;
  width: 55.4%;
  height: 14.38%;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(2.2737367544323206e-13px, 1.8189894035458565e-12px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__dc212 {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(21, 40, 115, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.gmbHInConnectionWithMultipleInvestmentsSuchAsMerlinDigitalSolutionsRoomsTechnologiesGloryaNobsNutrition7 {
  animation: none;
  position: relative;
  top: auto;
  left: auto;
  width: 83.9%;
  height: auto;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(0px, -0.456542968748181px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__zwJfD {
  animation: none;
  display: block;
  font-size: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 26px;
  color: rgba(55, 65, 81, 1);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__dXcLc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox__yivgx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__ly2Hp {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 24px;
  padding: 0px;
}
.freeBoxothers__2nd__ly2HPi6IX {
  display: none;
}
.freeBoxothers__3rd__ly2HpS3V4 {
  display: none;
}
.freeBox__lBoqR {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  background: #e2e2e2;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.freeBox__yGe7Y {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 18px;
  height: 18px;
  max-width: 100%;
  background: #daff7c;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border: 5px solid #012136;
}
.freeBox__vpe8V {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  max-width: 100%;
  background: #e2e2e2;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.freeBox__jbNd {
  animation: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 24px;
  display: none;
  padding: 0px;
}
.freeBoxothers__3rd__jbNdS3V4 {
  display: flex;
}
.freeBox__tGjm7 {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 18px;
  height: 18px;
  max-width: 100%;
  background: #daff7c;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border: 5px solid #012136;
}
.freeBox___7Atqw {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  background: #e2e2e2;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.freeBox__yZo8X {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  max-width: 100%;
  background: #e2e2e2;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.freeBox__jSs3P {
  animation: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 24px;
  display: none;
  padding: 0px;
}
.freeBoxothers__2nd__jSs3Pi6IX {
  display: flex;
}
.freeBoxothers__3rd__jSs3PS3V4 {
  display: none;
}
.freeBox__gk5GC {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  background: #e2e2e2;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.freeBox__lW5RA {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  max-width: 100%;
  background: #e2e2e2;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.freeBox__fNR1 {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 18px;
  height: 18px;
  max-width: 100%;
  background: #daff7c;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border: 5px solid #012136;
}
