.ctaButton {
  animation: none;
  background: linear-gradient(
      90deg,
      rgba(83, 216, 251, 1) 0%,
      rgba(218, 255, 124, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  box-shadow: inset 0px 0px 0px 2.03389835357666px rgba(1, 33, 54, 1);
  transform: translate(-0.00005917139060329646px, 0.00011370317224645987px);
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 22px;
  position: relative;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  justify-self: flex-start;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 30.097061157226562px;
  padding: 8px 8px 8px 16px;
}
.ctaButton:hover {
  column-gap: 28px;
  padding-right: 8px;
  background: linear-gradient(
      90deg,
      rgba(83, 216, 251, 1) 0%,
      rgba(218, 255, 124, 1) 32%
    )
    0% 0% / 100% 100% no-repeat;
  row-gap: 0px;
}
.text {
  animation: none;
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: #012136;
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  transform: translate(-0.0003030368243344128px, -0.000009026931365951896px);
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 38px;
  height: 38px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  top: auto;
  left: auto;
  background: #0d1535;
  transition-property: all;
  transition-duration: 0.3s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 50%;
  padding: 0px;
}
.ctaButton:hover .freeBox {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}
.img {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.00026421836810186505px, -0.00004078190613654442px);
  width: 22px;
  height: 14px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.ctaButton:hover .img {
  width: 28px;
  height: 20px;
  flex-shrink: 0;
}
